version: '3'
container_name: authentication_service
services:
    auth:
        build: .
        ports:
            - "2345:8888"
        links:
            - auth_database
        environment:
            - DATABASE=mongodb://auth_database:27017/auth
    auth_database:
        image: mongo:3.4.1
        restart: always
        ports:
            - "27217:27017"
        volumes:
            - "/home/ec2-user/auth_data:/data/db"